  table{
  	background-color: white;
  }
  .ui-datepicker{
      border: 1px solid rgba(0,0,0,.2);
      box-shadow:none;
  }
  .ui-datepicker tbody tr{
      border: 0px;
  }
  .ui-datepicker tbody td{
      border: 0px;
  }
  .ui-datepicker-header{
      background-color: white;
      text-shadow: none;
      color: #0275d8;
      font-size: 14px;
      padding:5px;
      border: none;
  }

  .ui-datepicker-calendar .ui-state-default
  {
      background: #fff;
  }
  .ui-datepicker-calendar .ui-state-hover
  {
     background-color: rgba(0,149,221,.25);
          border-radius: 50%;

  }
  .ui-datepicker-prev, .ui-datepicker-next{
  	    line-height: 2;
  }
  .ui-datepicker td span, .ui-datepicker td a{
      text-shadow: 0px;
  }
  	#to{
  		background-color: #fff;
  	}
      .btn1{
          margin-right: 1%;

      }
      .topr{
          padding-top:  0.7%;
          padding-bottom:  0.7%;
          margin-top: 10px;
          margin-bottom: 10px;

          height: 50px;

          border-bottom: solid 1px;
          font-size: 22px;
          font-weight: bold;
      }

      .ticket{
          color:  black;
      }


      .b0{
      	border: 0px;
      	border-radius: 0px;
      }
      .ui-datepicker {
      display: none;
  }
